version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    image: mitit/frontend:latest
    container_name: mitit-frontend
    ports:
      - "8081:80"
    restart: unless-stopped
    volumes:
      - node_modules:/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  node_modules: